ADMIN_PASSWORD_HASH=''
KC_CLIENT_ID=''
KC_ACCESS_TOKEN=''
KC_REFRESH_TOKEN=''
KC_SENDER_USER_ID=''
KC_EXPIRES_AT='0'
KC_REMOTE_API_KEY=''
KC_REMOTE_BASE=''
DB_HOST='db'
DB_PORT='3306'
DB_NAME='rhapaton'
DB_USER='rhapaton'
DB_PASS=''
DB_CHARSET='utf8mb4'
MYSQL_ROOT_PASSWORD=''
GOOGLE_TRANSLATE_API_KEY=''
